<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="base64.js">
        import axios from "axios";
        import Qs from "qs";
        function get(){
            this.axios({
                    method:"post",
                    url:"http://asr.cloud.tencent.com/asr/v1/1304564813?projectid=0&sub_service_type=1&engine_model_type=16k_zh&result_text_format=0&res_type=0&voice_format=8&secretid=AKIDEQ2QYQOVcTy9jCnSL6bqqgGbfhXNmOdb&timestamp=1561462573&expired=1561022467&needvad=1&nonce=52811334&seq=0&end=1&source=0&voice_id=yp1fifJmEx4Lh3OX&timeout=100"
                })
                .then( (response)=> {
                    console.log(response);
                })

        }
        console.log(get());
        
    </script>
</body>
</html>